
.btn {
    border-radius : 10px;
    color: white;
    &-color{
        background: linear-gradient(20deg,#f06292, #ad1457 );
        
    }
    &:hover{
        color: white;
        transform: scale(1.2);

    }

}

@media (max-width: 767px)  {
    .btn {
        margin-top: 10%;
    }
}


